.todo-item {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, 100px);
    gap: 20px;
    padding: 20px 0px;

    background-color: darkgray;
}

.todo-item__column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-item__text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
