.todo-item {
    display: inline-flex;
    align-items: center;
    gap: 20px;

    padding: 20px 20px;
    margin-bottom: 10px;

    background-color: gray;
}


.todo-item span,
.todo-item p,
.todo-item input {
    display: flex;
    justify-content: center;
    width: 100px;
}
